<button class="btn btn-primary" type="button" routerLink="../">
  חזרה
  </button>
  <form [formGroup]="addCustomerForm" (ngSubmit)="onCustomerAdded()">
  <div class="form-group">
    <h1 align="right">הוסף לקוח חדש</h1>
    <hr />
  </div>
<div class="row">
  
    <div class="col-xs-6 form-group">
        <label>רחוב
          <input formControlName="customerStreet" type="text" id="" class="form-control">
        </label>
        <span *ngIf="!addCustomerForm.get('customerStreet').valid && addCustomerForm.get('customerStreet').touched" class="help-block">שדה רחוב חובה</span>
      </div>    
      <div class="col-xs-6 form-group">
          <label>שם
            <input formControlName="customerName" type="text" id="" class="form-control">
          </label>
           <span *ngIf="addCustomerForm.get('customerName').errors && addCustomerForm.get('customerName').errors['required'] && addCustomerForm.get('customerName').touched" class="help-block">שדה שם חובה</span>
  </div>
  <div class="col-xs-6 form-group">
      <label>מספר דירה
        <input formControlName="customerApartment" type="number" id="" class="form-control">
      </label>
      <span *ngIf="!addCustomerForm.get('customerApartment').valid && addCustomerForm.get('customerApartment').touched" class="help-block">שדה מספר דירה חובה</span>
    </div>
      <div class="col-xs-6 form-group">
          <label>מספר בית
            <input formControlName="customerHouse" type="number" id="" class="form-control">
          </label>
          <span *ngIf="!addCustomerForm.get('customerHouse').valid && addCustomerForm.get('customerHouse').touched" class="help-block">שדה מספר בית חובה</span>
        </div>
        <div class="btn-group btn-toggle" style="float:right; clear:both;"> 
            <h2>הביא טיפ</h2>
            <button type="button" class="btn "  [ngClass]="!tipped ? 'btn-success':'btn-disabled'" (click)="onTipped()">כן</button>
            <button type="button" class="btn " [ngClass]="tipped ? 'btn-success':'btn-disabled'" (click)="onTipped()">לא</button>
          </div>
          
          <div *ngIf="tipped" class="btn-group btn-toggle" style="float:right; clear:both;"> 
            <h2>חרא לקוח</h2>
            <button type="button" class="btn"  [ngClass]="!badCustomer ? 'btn-success':'btn-disabled'" (click)="onBadCustomer()">כן</button>
            <button type="button" class="btn" [ngClass]="badCustomer ? 'btn-success':'btn-disabled'" (click)="onBadCustomer()">לא</button>
          </div>
          <div align=center class="col-xs-12 form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!addCustomerForm.valid">הוסף</button>
            <span class="help-block" *ngIf="onCheckExist()">
             *לקוח קיים במערכת
            </span>
            <hr>
          </div>
</div>
</form>