 <!-- nav-bar -->
 <nav class="navbar navbar-default">
    <div class="container">
      <!-- navbar header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <!-- the hamburger -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="">Jerusalem Runners</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse " id="myNavbar">
        <ul class="nav navbar-nav">
          <li [routerLinkActiveOptions]="{exact: 'full'}" routerLinkActive="active"><a routerLink="/">ראשי</a></li>
          <li routerLinkActive="active"><a routerLink="add-tip">הוסף טיפ ועדכן לקוח</a></li>
          <li class="p-2"><a routerLink='sign-up'>התחברות/הרשמה</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- todo make it visible only if user is logged! ! ! -->
          <li> <a href=""><i class="fas fa-user"></i> עריכת פרופיל</a></li>
        </ul>
      </div>
    </div>
  </nav>
  