<div class="row">
    <div class="col-xs-12 form-group">
            <button class="btn btn-primary" type="button" (click)="navigationService.onNavigateForward('add-customer')">
              הוסף לקוח חדש
            </button>
      <h1 align="right">חיפוש במאגר הלקוחות</h1>
      <hr>
    </div>
    <div align=right class="form-group">
        <label>שם
          <input type="text" id="" class="form-control" [(ngModel)]="customerNameSearch">
        </label>
      </div>
    </div>
    <div align=right class="form-group">
      <label>רחוב
        <input  type="text" id="" class="form-control" [(ngModel)]="customerStreetSearch">
      </label>
    </div>
    <hr>
    <div>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">לא הביא</th>
                <th scope="col">הביא טיפ</th>
                <th scope="col">דירוג</th>
                <th scope="col">דירה</th>
                <th scope="col">בית</th>
                <th scope="col">רחוב</th>
                <th scope="col">שם</th>
              </tr>
            </thead>
            <tbody *ngFor="let customer of customers">
              <tr *ngIf="
              customer.name.match(customerNameSearch)  
              && customer.street.match(customerStreetSearch)
               && customerNameSearch != ''">
                <td>{{ customer.notTipped }}</td>
                <td>{{ customer.tipped }}</td>
                <td>{{ customer.rating }}</td>
                <td>{{ customer.apartment }}</td>
                <td>{{ customer.house }}</td>
                <td>{{ customer.street }}</td>
                <td >{{ customer.name }}</td>
              </tr>
            </tbody>
          </table>
    
    
    
      <!-- <div class="col-xs-4" *ngIf="customer.name.match(customerSearch) && !customerSearch == '' ">
          <h2>Good Customers</h2>
          <p >
              {{ customer.name }}
          </p>
        </div> -->
      </div>